@using CodeChops.Website.Client.Pages.Projects
@using CodeChops.Website.Client.Pages.About
@using CodeChops.Website.Client.Pages.Home
@inherits LayoutComponentBase

<div class="page">
    <MenuBar @ref="MenuBar"
             BackgroundColor="@(IsDarkMode ? new(hexColor: "#141313") : new(hexColor: "#f9f4f6"))"
             AccentColor="@Branding.Colors.Accent"
             TextColor="@Branding.Colors.Accent.ChangeBrightness(IsDarkMode ? 200 : -40)"
             HRefColor="@Branding.Colors.Accent.ChangeBrightness(IsDarkMode ? 40 : 0)"
             FontFamily="@Branding.FontFamily" 
             LogoPath="/favicon.ico" 
             Title="@Branding.Name" 
             ShowTitle="ShowTitle"
             Height="80"
             ShowLogo="false"
             Buttons="Buttons">
         
        <ColorModeSelector />
        <LanguageSelector TLanguageCache="LanguageCache" />
    </MenuBar>
    
    <div class="border"></div>
    
    <Crossfade @ref="Crossfade" AnimationDurationInMilliseconds="350" PrerenderState="true">
        <main id="main">
            @Body
            <Footer></Footer>
        </main>
    </Crossfade>
</div>

<style>
    :root {
        --branding-text-weight:             @Branding.FontWeight;
        --branding-text-shadow:             @Branding.TextShadow;
        
        --branding-color-main:              @Branding.Colors.Main;
        --branding-color-accent:            @Branding.Colors.Accent;
        --branding-color-background:        @Branding.Colors.Background;
        
        --branding-color-main-rgb:          @Branding.Colors.Main.Rgb;
        --branding-color-accent-rgb:        @Branding.Colors.Accent.Rgb;
        --branding-color-background-rgb:    @Branding.Colors.Background.Rgb;
    }

    ::selection {
        background: @(ColorModeSelector.ColorMode == ColorMode.LightMode ? Branding.Colors.Accent.ChangeBrightness(140) : "var(--branding-color-accent)");
    }
</style>

@code
{
    [CascadingParameter] protected bool ShowTitle { get; set; } = true;

    private MenuBar? MenuBar { get; set; }
    private Crossfade? Crossfade { get; set; }
    private ICollection<MenuButtonData> Buttons { get; set; } = null!;
    private static bool IsDarkMode => ColorModeSelector.ColorMode == ColorMode.DarkMode;
    [Inject] public NavigationManager NavigationManager { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        await OnLanguageChangedAsync();
        NavigationManager.LocationChanged += async (e, o) => await OnLanguageChangedAsync();
    }

    private async Task OnLanguageChangedAsync()
    {
        if (Crossfade is not null) 
            await Crossfade.ExecuteAsync();

        Buttons = new MenuButtonData[]
            {
                new() { HRef="/",           Text = HomeResource.Title, OnClick = async (_, b) => await OnButtonClickAsync(b) },
                // new() { HRef="/blog",       Text=Pages.Blog.BlogResource.Title },
                new() { HRef="/projects",   Text = ProjectResource.Title, OnClick = async (_, b) => await OnButtonClickAsync(b) },
                new() { HRef="/about",      Text = AboutResource.Title, OnClick = async (_, b) => await OnButtonClickAsync(b)},
            };
        
        StateHasChanged();
    }

    private async Task OnButtonClickAsync(MenuButtonData button)
    {
        if (button.HRef is not null 
            && button.HRef.Trim('/') != NavigationManager.ToBaseRelativePath(NavigationManager.Uri) 
            && Crossfade is not null) 
        {
            await Crossfade.ExecuteAsync();
        }
    }
}