@using CodeChops.Crossblade;
@using CodeChops.Website.Client.Pages.Authentication

@inherits LayoutComponentBase

<div class="page">
    <MenuBar @ref="MenuBar"
             BackgroundColor="@(IsDarkMode ? new(hexColor: "#181616") : new(hexColor: "#f9f4f6"))"
             AccentColor="@Branding.Colors.Accent"
             TextColor="@Branding.Colors.Accent.ChangeBrightness(IsDarkMode ? 200 : -20)"
             HRefColor="@Branding.Colors.Accent.ChangeBrightness(IsDarkMode ? 80 : -20)"
             FontFamily="@Branding.FontFamily"
             LogoPath="/favicon.png"
             Title="@Branding.Name"
             ShowTitle="ShowTitle"
             Height="80"
             ShowLogo="@false"
             ButtonsGetter="ButtonsGetter"
             FadeOut="@false">

        <ColorModeSelector />

        <LanguageSelector />

        @{
#if UseAuthorization
        <Login />
#endif
        }
    </MenuBar>

    <div class="border"></div>

    <Crossblade AnimationDuration="350">
        <main id="main">
            @Body
            <Footer></Footer>
        </main>
    </Crossblade>
</div>

<style>
    :root {
        --branding-text-weight:             @Branding.FontWeight;
        --branding-text-spacing:            @Branding.TextSpacing;

        --branding-color-main:              @Branding.Colors.Main;
        --branding-color-accent:            @Branding.Colors.Accent;
        --branding-color-background:        @Branding.Colors.Background;

        --branding-color-main-rgb:          @Branding.Colors.Main.Rgb;
        --branding-color-accent-rgb:        @Branding.Colors.Accent.Rgb;
        --branding-color-background-rgb:    @Branding.Colors.Background.Rgb;
    }

    ::selection {
        background: @(ColorModeSelector.Value == ColorMode.LightMode ? Branding.Colors.Accent.ChangeBrightness(140) : "var(--branding-color-accent)");
    }
</style>
