@using CodeChops.Website.RazorComponents.Navigation.Menu
@using CodeChops.Crossblade;
@using CodeChops.Website.Client.Pages.About.Resources
@using CodeChops.Website.Client.Pages.Home.Resources
@using CodeChops.Website.Client.Pages.Projects.Resources
@using RenderEnvironment = CodeChops.Website.RazorComponents.RenderEnvironment

@inherits LayoutComponentBase

<div class="page">
    <MenuBar @ref="MenuBar"
             BackgroundColor="@(IsDarkMode ? new(hexColor: "#181616") : new(hexColor: "#f9f4f6"))"
             AccentColor="@Branding.Colors.Accent"
             TextColor="@Branding.Colors.Accent.ChangeBrightness(IsDarkMode ? 200 : -20)"
             HRefColor="@Branding.Colors.Accent.ChangeBrightness(IsDarkMode ? 80 : -20)"
             FontFamily="@Branding.FontFamily" 
             LogoPath="/favicon.png"
             Title="@Branding.Name" 
             ShowTitle="ShowTitle"
             Height="80"
             ShowLogo="false"
             ButtonsGetter="ButtonsGetter"
             FadeOut="false">
         
        <ColorModeSelector />
        <LanguageSelector />
    </MenuBar>
    
    <div class="border"></div>
    
    <Crossblade AnimationDuration="350" @ref="@Crossblade">
        <main id="main">
            @Body
            <Footer></Footer>
        </main>
    </Crossblade>
</div>

<style>
    :root {
        --branding-text-weight:             @Branding.FontWeight;
        --branding-text-spacing:            @Branding.TextSpacing;
        
        --branding-color-main:              @Branding.Colors.Main;
        --branding-color-accent:            @Branding.Colors.Accent;
        --branding-color-background:        @Branding.Colors.Background;
        
        --branding-color-main-rgb:          @Branding.Colors.Main.Rgb;
        --branding-color-accent-rgb:        @Branding.Colors.Accent.Rgb;
        --branding-color-background-rgb:    @Branding.Colors.Background.Rgb;
    }

    ::selection {
        background: @(ColorModeSelector.Value == ColorMode.LightMode ? Branding.Colors.Accent.ChangeBrightness(140) : "var(--branding-color-accent)");
    }
</style>

@code
{
    [Inject] public NavigationManager NavigationManager { get; set; } = null!;
    [Inject] protected RenderEnvironment RenderEnvironment { get; set; } = null!;
    [CascadingParameter] protected bool ShowTitle { get; set; } = true;
    
    private static bool IsDarkMode => ColorModeSelector.Value == ColorMode.DarkMode;
    private Crossblade? Crossblade { get; set; }
    private MenuBar? MenuBar { get; set; }

    private static MenuButtonData[] ButtonsGetter()
    {
        return new MenuButtonData[]
        {
            new() { HRef="/",           Text = HomeResource.Title },
            new() { HRef="/projects",   Text = ProjectResource.Title },
            new() { HRef="/about",      Text = AboutResource.Title },
        };
    }
}
