@using Microsoft.AspNetCore.Components.WebAssembly.Services
@inherits LayoutComponentBase

<div class="page">
    <MenuBar @ref="MenuBar"
            BackgroundColor="@(IsDarkMode ? new(ColorName.Black) : Color.White)"
            AccentColor="@Branding.Colors.Accent"
            TextColor="@Branding.Colors.Accent.ChangeBrightness(IsDarkMode ? 200 : -40)"
            HRefColor="@Branding.Colors.Accent.ChangeBrightness(IsDarkMode ? 40 : 0)"
            FontFamily="@Branding.FontFamily" 
            LogoPath="/favicon.ico" 
            Title="@Branding.Name" 
            ShowTitle="ShowTitle"
            Height="80" 
            ShowLogo="false"
            Buttons="Buttons">
        
            <ColorModeSelector />
            <LanguageSelector />
    </MenuBar>

    <div class="border"></div>

    <main>
        @Body    
        
        <Footer></Footer>
    </main>

</div>

<style>
    :root {
        --branding-text-weight:             @Branding.FontWeight;
        --branding-text-shadow:             @Branding.TextShadow;
        
        --branding-color-main:              @Branding.Colors.Main;
        --branding-color-accent:            @Branding.Colors.Accent;
        --branding-color-background:        @Branding.Colors.Background;
        
        --branding-color-main-rgb:          @Branding.Colors.Main.Rgb;
        --branding-color-accent-rgb:        @Branding.Colors.Accent.Rgb;
        --branding-color-background-rgb:    @Branding.Colors.Background.Rgb;
    }

    ::selection {
        background: @(ColorModeSelector.ColorMode == ColorMode.LightMode ? Branding.Colors.Accent.ChangeBrightness(140) : "var(--branding-color-accent)");
    }
</style>

@code
{
    [CascadingParameter] protected bool ShowTitle { get; set; } = true;
    [Inject] LazyAssemblyLoader AssemblyLoader { get; set; } = null!;
    [Inject] RenderLocation RenderLocation { get; set; } = null!;
    
    private MenuBar MenuBar { get; set; } = null!;
    private ICollection<MenuButtonData> Buttons { get; set; } = null!;
    private static bool IsDarkMode => ColorModeSelector.ColorMode == ColorMode.DarkMode;
    
    protected override async Task OnInitializedAsync()
    {
        OnLanguageChanged();
        
        LanguageSelector.ChangedEvent += OnLanguageChanged;
        ColorModeSelector.ChangedEvent += StateHasChanged;
    }

    private void OnLanguageChanged()
    {
        Buttons = new MenuButtonData[]
            {
                new() { HRef="/",           Text=Pages.Home.HomeResource.Title },
                // new() { HRef="/blog",       Text=Pages.Blog.BlogResource.Title },
                new() { HRef="/projects",   Text=Pages.Projects.Resources.ProjectsResource.Title },
                new() { HRef="/about",      Text=Pages.About.AboutResource.Title },
            };
        StateHasChanged();
    }
}