<footer>
    <div class="footer-icons">
        <a href="@Branding.GitHubLink" target="_blank">
            <span class="fa fa-github" aria-hidden="true"></span>
        </a>
        <a href="@Branding.LinkedInLink" target="_blank">
            <span class="fa fa-linkedin" aria-hidden="true"></span>
        </a>
    </div>
    <span title="@(IfNotNull(Version, $"Version {Version}"))" class="footer-text"> ©️ @DateTime.Now.Year @Branding.Name</span>
</footer>
