@page "/projects"
@inherits ResourcedComponent

<Content>
	<span class="title text-center">
		<Title Value="@ProjectResource.Title" ShowTitle=false></Title>
	</span>

	<h2 class="subtitle">@ProjectResource.Applications</h2>
	<div class="grid">
		@foreach (var group in ParametersByProjectType[false])
		{
			<DynamicComponent Type="@typeof(ProjectThumbnail)" Parameters="@group"/>
		}
	</div>

	<h2 class="subtitle">@ProjectResource.CodeTooling</h2>
	<div class="grid">
		@foreach (var group in ParametersByProjectType[true])
		{
			<DynamicComponent Type="@typeof(ProjectThumbnail)" Parameters="@group"/>
		}
	</div>
</Content>

@code {
	private static List<string> RandomProjectNames { get; }
	private static Dictionary<bool, List<Dictionary<string, object>>> ParametersByProjectType { get; set; } = null!;
	
	private static string[] ImplementedProjects { get; } =
	{
		nameof(ProjectOverviewTitleResource.GenericMath),
		nameof(ProjectOverviewTitleResource.DomainModeling),
		nameof(ProjectOverviewTitleResource.MagicEnums),
		nameof(ProjectOverviewTitleResource.ImplementationDiscovery),
		nameof(ProjectOverviewTitleResource.Geometry),
		nameof(ProjectOverviewTitleResource.SourceGenerationUtilities),
		nameof(ProjectOverviewTitleResource.LightResources),
		nameof(ProjectOverviewTitleResource.Crossblade),
		//nameof(ProjectOverviewTitleResource.FoodChops),
	};
		
	static ProjectOverview()
	{
		var random = new Random();
		RandomProjectNames = ProjectOverviewTitleResource.GetValues().OrderBy(_ => random.Next()).ToList();
	}
	
	protected override void OnComponentInitialized()
	{
		CreateView();
		LanguageChangedEvent += CreateView;
	}
	
	private static void CreateView()
	{
		ParametersByProjectType = ProjectOverviewTitleResource
			.GetMembers()
			.OrderBy(member => RandomProjectNames.IndexOf(member.Name))
			.Select(member => new Dictionary<string, object>()
			{
				["Code"] = member.Name,
				["Title"] = member.Value,
				["Text"] = (MarkupString)ProjectOverviewTextResource.GetSingleMember(member.Name),
				["ImagePath"] = $"images/projects/{member.Name}.png",
				["Path"] = ProjectHostingUrl.TryGetSingleMember(member.Name, out ProjectHostingUrl? hostingUrl) 
						? hostingUrl.Value
						: member.Name,
				["IsDocumentation"] = hostingUrl is null,
				["IsImplemented"] = ImplementedProjects.Contains(member.Name),
			})
			.ToList()
			.GroupBy(parametersOfProject => (bool)parametersOfProject["IsDocumentation"])
			.ToDictionary(group => group.Key, group => group.ToList());
	}
}
