@using CodeChops.DomainModeling.Serialization
@using CodeChops.Website.Client.Pages.Projects.Resources

<a class="project" href="@GetPath()" id="@ThumbnailId" target=@(IsDocumentation ? "_self" : "_blank")>
	<div class="text">
		<h2>@Title</h2>
		<span class="small-screen-hide">@Text</span>
		@If(!IsImplemented, (MarkupString)ProjectResource.Error)
	</div>
	<span class="image-container border show">
		<img class="image noSelect" src="@ImagePath" alt="@Title" loading="lazy" id="@ImageId" />
	</span>
</a>
