@page "/projects"
@using CodeChops.Website.Client.Pages.Projects.Resources
@inherits ResourcedComponent

@{
	#if UseAuthorization
		@attribute [Authorize]
	#endif
}

<Content>
	<span class="title text-center">
		<Title Value="@(ProjectResource.Title)" ShowTitle="@false"></Title>
	</span>

	<h2 class="subtitle">@ProjectResource.Applications</h2>
	<div class="grid">
		@foreach (var group in ParametersByProjectType[false])
		{
			<DynamicComponent Type="@typeof(ProjectThumbnail)" Parameters="@group"/>
		}
	</div>

	<h2 class="subtitle">@ProjectResource.CodeTooling</h2>
	<div class="grid">
		@foreach (var group in ParametersByProjectType[true])
		{
			<DynamicComponent Type="@typeof(ProjectThumbnail)" Parameters="@group"/>
		}
	</div>
</Content>
