@inherits LayoutComponentBase
@implements IDisposable

@if (ChildContent is not null)
{
	<span id="crossfade-main">
		<div id="crossfade-source" style="z-index: @(IsInTransition ? 0 : 1);">
			<span id="crossfade-container">
				@ChildContent
			</span>
		</div>
		<div id="crossfade-copy">
			<span id="crossfade-copy-inner"></span>
		</div>
	</span>
}

<style>
	#crossfade-copy {
		transition: opacity @(AnimationDurationInMilliseconds)ms ease-in;
		opacity: @(IsInTransition ? 0 : 1);
		z-index: @(IsInTransition ? 101 : -1);
		visibility: @(IsInTransition ? "visible" : "hidden")
	}
</style>

@code {
	[Inject] public IJSRuntime JsRuntime { get; set; } = null!;
	[Parameter] public RenderFragment? ChildContent { get; set; }
	[Parameter] public int AnimationDurationInMilliseconds { get; set; } = 350;
	[Inject] public NavigationManager NavigationManager { get; set; } = null!;
	[Inject] public RenderLocation RenderLocation { get; set; } = null!;
	[Parameter] public bool RegisterOnNavigationChanging { get; set; } = true;
	private bool IsInTransition { get; set; }
	private IJSObjectReference? JsObject { get; set; }
	private string? PreviousRelativeUrl { get; set; }
	private IDisposable? Registration { get; set; }
	
	protected override async Task OnInitializedAsync()
	{
		if (RenderLocation is RenderedOnClient)
		{
			JsObject = await ((IJSInProcessRuntime)JsRuntime).InvokeAsync<IJSObjectReference>("import", "./_content/CodeChops.Website.RazorComponents/Crossfade.razor.js");

			if (RegisterOnNavigationChanging)
			{
				PreviousRelativeUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
				Registration = NavigationManager.RegisterLocationChangingHandler(OnNavigationChanging);
			}
		}
	}

	protected override void OnAfterRender(bool firstRender)
	{
		if (IsInTransition && NavigationManager.ToBaseRelativePath(NavigationManager.Uri) != PreviousRelativeUrl)
			((IJSInProcessRuntime)JsRuntime).InvokeVoid("scrollUp", "crossfade-source");
	}

	private async ValueTask OnNavigationChanging(LocationChangingContext context)
	{
		if (NavigationManager.ToBaseRelativePath(NavigationManager.Uri) == PreviousRelativeUrl)
			return;

		await ExecuteAsync();
	}

	public async Task ExecuteAsync()
	{
		if (IsInTransition)
			return;
		
		LoadCrossfadeState();	
		IsInTransition = true;
		StateHasChanged();

		await Task.Delay(AnimationDurationInMilliseconds).ContinueWith(_ =>
		{
			PreviousRelativeUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
			IsInTransition = false;
			((IJSInProcessRuntime)JsRuntime).InvokeVoid("removeElement", "crossfade-copy");
			StateHasChanged();
		});
	}

	private void LoadCrossfadeState()
	{
		if (JsObject is not null)
			((IJSInProcessRuntime)JsRuntime).Invoke<string>("copyElement", "crossfade-source", "crossfade-copy");
	}

	public void Dispose()
	{
		Registration?.Dispose();
	}
}
