@using Resource = CodeChops.Website.Client.Resources.About;
@page "/about"

<Content Title="@Resources.About.Title">
	<p>
		@Resource.Paragraph1	
	</p>

	<p>
		@Resource.Paragraph2
	</p>

	<p>
		@Resource.Paragraph3
	</p>

	<div id="author">
		@Resource.Author
	</div>
</Content>