<footer>
    <div class="footer-icons">
        <a href="@Branding.GitHubLink" target="_blank">
            <span class="fa fa-github" aria-hidden="true"></span>
        </a>
        <a href="@Branding.LinkedInLink" target="_blank">
            <span class="fa fa-linkedin" aria-hidden="true"></span>
        </a>
    </div>
    <span title="@(Version is not null ? $"Version {Version}" : null)" class="footer-text"> ©️ @DateTime.Now.Year @Branding.Name</span>
</footer>

@code {
    private static Version? Version { get; } = System.Reflection.Assembly.GetExecutingAssembly().GetName().Version;
}
