@page "/about"
@inherits ResourcedComponent

<Content>
	<Box>
		<Title Value="@AboutResource.Title"></Title>

		<p>
			@AboutResource.Paragraph1
		</p>

		<p>
			@AboutResource.Paragraph2
		</p>

		<p>
			@AboutResource.Paragraph3
		</p>
		
		<div id="contact">
			<div>
				<a href="@Branding.AddressLink" target="_blank">
					<span class="fa fa-map-marker"></span>
					@Branding.Address
				</a>
			</div>

			<div>
				<a href="tel:@Branding.PhoneNumber">
					<span class="fa fa-phone"></span>
					@Branding.PhoneNumber
				</a>
			</div>

			<div>
				<a href="mailto:@Branding.EmailAddress">
					<span class="fa fa-envelope"></span>
					@Branding.EmailAddress
				</a>
			</div>

			<div>
				<a href="@Branding.GitHubLink" target="_blank">
					<span class="fa fa-github" aria-hidden="true"></span>
					@GeneralResource.GitHub
				</a>
			</div>

			<div>
				<a href="#">
					<span class="fa fa-linkedin" aria-hidden="true"></span>
					@GeneralResource.LinkedIn
				</a>
			</div>
		</div>

		<div id="chamber-of-commerce">
			@AboutResource.ChamberOfCommerce
		</div>
	</Box>
</Content>
