@implements IDisposable
@page "/"

<Content>
	<Box>
		<Title Value="@Resource.Title" AlternativeHeader="@Resource.FullTitle" />
		<p>
			@Resource.Paragraph1
		</p>
		<p>
			@((MarkupString)Resource.Paragraph2)
		</p>
		@*	<p>
			(websites, applications, games)
			(<a href="projects/website">Website</a>, <a href="projects/game">single player browser games</a>) to back-end (<a href="projects/magicenum">MagicEnums</a>, <a href="projects/maths">Maths</a>)
			back-end (<a href="projects/junctions">Junctions</a>)
		</p>*@
		
		<div id="author">
        	@Resource.Author
        </div>
	</Box>

</Content>

@code {
	public static IHomeResource Resource { get; set; } = IHomeResource.Get();
	
	protected override void OnInitialized()
	{
		LanguageSelector.ChangedEvent += OnLanguageChanged;
	}

	private void OnLanguageChanged()
	{
		Resource = IHomeResource.Get();
		StateHasChanged();
	}
	
	public void Dispose()
	{
		LanguageSelector.ChangedEvent -= OnLanguageChanged;
	}
}