@page "/"
@inherits ResourcedComponent

<Content>
	<Box>
		<Title Value="@HomeResource.Title" AlternativeHeader="@HomeResource.FullTitle"></Title>

		<p>
			@HomeResource.Paragraph1
		</p>
		<p>
			@((MarkupString)HomeResource.Paragraph2)
		</p>
		@*	<p>
			(websites, applications, games)
			(<a href="projects/website">Website</a>, <a href="projects/game">single player browser games</a>) to back-end (<a href="projects/magicenum">MagicEnums</a>, <a href="projects/maths">Maths</a>)
			back-end (<a href="projects/junctions">Junctions</a>)
		</p>*@
		
		<div id="author">
			@HomeResource.Author
		</div>
	</Box>
</Content>